#parrafo1{
    color:blue;
    background: yellow;
}

#parrafo2{
    color:red;
}

.parrafo{
    background-color:yellow;
}

.parrafo4{
    color: blue;
}

.sp1{
    color: red;
}

.sp2{
    background-color: green;
    color: yellow;
}